code[class^="language-"], .chroma code {
	background: none!important;
}
.post .post-content .chroma .lnt {
	margin-right: 0; padding: 0;
}

/* Generic */

.post .post-content .chroma .g {
    color: inherit
}

/* GenericDeleted */

.post .post-content .chroma .gd {
    color: inherit
}

/* GenericEmph */

.post .post-content .chroma .ge {
    color: inherit
}

/* GenericError */

.post .post-content .chroma .gr {
    color: inherit
}

/* GenericHeading */

.post .post-content .chroma .gh {
    color: inherit
}

/* GenericInserted */

.post .post-content .chroma .gi {
    color: inherit
}

/* GenericOutput */

.post .post-content .chroma .go {
    color: inherit
}

/* GenericPrompt */

.post .post-content .chroma .gp {
    color: inherit
}

/* GenericStrong */

.post .post-content .chroma .gs {
    color: inherit
}

/* GenericSubheading */

.post .post-content .chroma .gu {
    color: inherit
}

/* GenericTraceback */

.post .post-content .chroma .gt {
    color: inherit
}

/* Theme colors: #0047AB #f0f2f5 */
.post .post-content>table th {
	background-color: #0047AB
}
.post .post-content>table td {
	background-color: #f0f2f5
}

.post .post-content .read-more {
	text-align: center;
}

.post .post-content .read-more .read-more-link {
	width: 100%;
	display: block;
}

.header .logo-wrapper .logo {
	font-family: Athelas,STHeiti,Microsoft Yahei,serif;
}